<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alumnos</title>
</head>
<body>
    <h1>Lista de Alumnos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Legajo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo Documento</th>
                <th>Número Documento</th>
                <th>Fecha de Nacimiento</th>
                <th>Asignaturas</th>
            </tr>
        </thead>
        <tbody>
        {{#alumnos}}
            <tr>
                <td>{{legajo}}</td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{tipoDocumento}}</td>
                <td>{{numeroDocumento}}</td>
                <td>{{fechaNacimiento}}</td>
                <td><a href="/asignaturas/{{legajo}}">Ver Asignaturas</a></td>
            </tr>
        {{/alumnos}}
        </tbody>
    </table>
</body>
</html>
